<html>
  <head>
    <title>Stupid coach</title>
  </head>

  <body>
    <form action="???">
      <input type="text" name="???">
      <input type="submit" value="Ask!">
    </form>
    <%= yield %>
  </body>
</html>
